<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HippoValidator.JSHintValidator" version="1.0.0.13" targetFramework="net40-client" />
  <package id="JSLintNet.MSBuild" version="2.2.1" targetFramework="net40-client" developmentDependency="true" />
  <package id="Jurassic" version="2.1.1" targetFramework="net40-client" />
</packages>